body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: "Product Sans";
}

/* Carousel */  
#background-carousel {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.carousel, 
.carousel-inner {
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}
.item {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
}
#content-wrapper {
    position: absolute;
    z-index: 1 !important;
    min-width: 100%;
    min-height: 100%;
}
h1 {
    color: #fff;
    
}

/* Form*/
.title {
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 70px 0 20px;
}
.sign {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.sign h1 {
    margin: 0;
    padding: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 36px;
}
.content {
    margin-top: 50px;
    position: relative;
    width: 50%;
    height: 450px;
    background:  transparent;
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 0 20px 30px rgba(0,0,0,.8);
}
.content .left {
    float: left;
    width: 50%;
    height: 450px;
    background: url(icon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 7px 0 0 7px;;
}
.content .right {
    float: right;
    padding-top: 70px;
    padding-left: 10px;
    width: 50%;
    height: 450px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 5px 5px 0;
}
i {
    float: left;
    left: 0;
    color: #000;
    margin-top: 7px;
}
label {
    margin-left: 25px;
}
.inputBox {
    position: relative;
    margin-left: 3px;
}
.inputBox input {
    width: 83%;
    padding: 10px 0;
    font-family: "Product Sans";
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    margin-bottom: 20px;
    color: #000;
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    background-color: transparent;
    transition: .3s;
}
.inputBox input:focus {
    width: 83%;
    padding: 10px 0;
    font-family: "Product Sans";
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    margin-bottom: 20px;
    color: #000;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background-color: transparent;
    transition: all .3s ease-out;
}
.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: .3s;
}
.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000;
    font-size: 16px;
}
button {
    color: #999;
    width: 95%;
    height: 40px;
    background: transparent;
    border: 2px solid #999;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
button:hover {
    color: white;
    width: 95%;
    height: 40px;
    background: #000;
    border: 2px solid #000;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}
button:focus {
    color: white;
    width: 95%;
    height: 40px;
    background: #000;
    border: 2px solid #000;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: .3s;
}
p {
    color: #000;
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;
}
a {
    color: #999;
    text-decoration: none;
    transition: all 0.3s ease-out;
    outline: none;
}
a:hover:visited {
    color: #000;
    transition: .3s;
    text-decoration: none;
}
a:focus:visited {
    color: #000;
    outline: none;
    transition: .3s;   
    text-decoration: none;
}
a:visited
{
    color: #999
}